#phrase {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    font-family: monospace;
}

#phrase > .letter-slot, .space-slot {
    margin-bottom: 20px;
    margin-right: 20px;
    width: 1.2em;

}

#phrase > .letter-slot {
    text-align: center;
    border-bottom: 1px solid black;
    height: 1.1em;
}

input {
    width: 1.5em;
    font-size: 48px;
    padding: 10px 0;
    text-align: center;
}
button {
    font-size: 48px;  
    padding: 10px;
}


.letter-slot.hidden {
    color: transparent;
}

#hangman {
    height: 180px;
}
#face {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50px;
}
#torso {
    width: 0px;
    height: 80px;
    border-left: 2px solid black;
    margin-left: 25px;
}
#leg-left, #leg-right, #arm-left, #arm-right {
    position: absolute;
    width: 0px;
    height: 50px;
    border-left: 2px solid black;
    display: inline-block;
}
#leg-left {
    margin-left: 11px;
    transform: rotate(34deg);
    margin-top: -5px;
}
#leg-right {
    margin-left: 39px;
    transform: rotate(-34deg);
    margin-top: -5px;
}
#arm-right, #arm-left {
    height: 40px;
}
#arm-right {
    top: 64px;
    left: 47px;
    transform: rotate(45deg);
}
#arm-left {
    top: 64px;
    left: 19px;
    transform: rotate(-45deg);
}